<app-main></app-main>
<div style="text-align:center">
    <div style="margin-top: 40px;">
      <p>{{seconds}}</p>
      <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)">
      </webcam>
      <br/>
      <button id="snapshotBtn" (click)="triggerSnapshot();">📸</button>
    </div>

    <div style="text-align: center;">
        <div *ngIf="webcamImage" style="background-color: white; width: 650px; height: 550px; padding: 13px; display: inline-block;">
            <img [src]="webcamImage.imageAsDataUrl"/>
            <div class="font">
                2021.07.19 <br>
                꼬요수 리더 생일 기념 🎂
            </div>
        </div>
    </div>
</div>

