<app-main></app-main>
<div style="text-align: center;">
    <h4> 편지가 궁금하신가여?  </h4>
    <div class="card"></div>
    <div style="margin-top: 100px;">
            <img src="https://user-images.githubusercontent.com/42020919/84669962-6d147580-af60-11ea-8925-7c09a72fe12b.PNG"
                onmouseout="this.src='https://user-images.githubusercontent.com/42020919/84669962-6d147580-af60-11ea-8925-7c09a72fe12b.PNG'"
                onmouseover="this.src='https://user-images.githubusercontent.com/51070361/125950850-55b5388a-d88f-459e-95c4-6f1cfde1dc28.JPG'">  
    </div>
</div>